html, body {
	position: relative;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(17, 17, 17);
	font-size: 14px;
	color: #eee;
}

swiper-container {
	width: 100%;
	height: 100%;
}

swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 이미지를 가득 차게 화면에 표시하기 위한 스타일 추가 */
swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mainContent {
	padding-top: 5vh;
	color: #eee;
	padding-left: 10vw;
}

.display-flex {
	display: flex;
}

.mainContent-size {
	width: 10vw;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 부드러운 페이드 효과 */
.swiper-container-fade .swiper-slide {
	transition-property: opacity;
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-next,
	.swiper-container-fade .swiper-slide-prev {
	opacity: 1;
}

.swiper-container-fade .swiper-slide-next, .swiper-container-fade .swiper-slide-prev
	{
	transition-timing-function: ease;
}

/* 스타일 추가 및 수정 */
.mySwiper {
	width: 100%;
	height: 100%;
}