<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<!-- ======================== resultMap ======================== -->
	<!-- =========================================================== -->
	<resultMap type="car" id="carResultMap">
		<result column="CAR_NUM"	  	property="carNum"/>
		<result column="MEM_PHONE"  	property="memPhone"/>
		<result column="CLASS_CODE" 	property="classCode"/>
		<result column="CAR_STATUS" property="carStatus"/>
		<result column="CAR_DATE"  	property="carDate"/>
	</resultMap>
	
	<resultMap type="carType" id="carTypeResultMap">
		<result column="CAR_NAME"	  	property="carName"/>
		<result column="CLASS_CODE"  	property="classCode"/>
		<result column="CLASS_NAME"  	property="className"/>
		<result column="CAR_PRICE" 		property="carPrice"/>
		<result column="INVEN_CODE"  	property="invenCode"/>
		<result column="FILE_NUM" 		property="fileNum"/>
		<result column="ORIGINAL_NAME" 	property="originalName"/>
		<result column="UPLOAD_NAME"  	property="uploadName"/>
		<result column="UPLOAD_DATE"  	property="uploadDate"/>
	</resultMap>
	
	<resultMap type="inventory" id="InventoryResultMap">
		<result column="INVEN_CODE"	  	property="invenCode"/>
		<result column="INVEN_NAME"	  	property="invenName"/>
		<result column="INVEN_PAY"	  	property="invenPay"/>
		<result column="INVEN_NUM"	  	property="invenNum"/>
		<result column="INVEN_DATE"	  	property="invenDate"/>
		<result column="ITEM_CODE"	  	property="itemCode"/>
		<result column="ITEM_NAME"	  	property="itemName"/>
	</resultMap>
	
	<resultMap type="stockAndDelovery" id="StockAndDeloveryResultMap">
		<result column="STOCK_PKNO"	  	property="stockPkno"/>
		<result column="STOCK_NUM"	  	property="StockNum"/>
		<result column="STOCK_DATE"	  	property="stockDate"/>
		<result column="DELOVERY_PKNO"	property="deloveryPkno"/>
		<result column="DELOVERY_NUM"	property="deloveryNum"/>
		<result column="DELOVERY_DATE"	property="deloveryDate"/>
		<result column="INVEN_CODE"	  	property="invenCode"/>
	</resultMap>
	
	<resultMap type="exCar" id="exCarResultMap">
		<result column="EX_NUM"	  		property="exNum"/>
		<result column="CAR_NAME"	  	property="carName"/>
		<result column="EX_INVEN"	  	property="exInven"/>
		<result column="EX_PRICE"	  	property="exPrice"/>
		<result column="MEMBER_PHONE"	property="memberPhone"/>
		<result column="DEALER_PHONE"	property="dealerPhone"/>
		<result column="EX_DATE"		property="exDate"/>
	</resultMap>

	<!-- =========================== SQL =========================== -->
	<!-- =========================================================== -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM CARNAME
	</select>
	
	<select id="allList" resultMap="carTypeResultMap">
		 SELECT CAR_NAME,
		 		CLASS_NAME,
				CAR_PRICE,
                TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE" 
		   FROM CARNAME
		   JOIN CAR_FILE USING(FILE_NUM)
		   JOIN CLASSIFICATION USING(CLASS_CODE)
		   ORDER BY UPLOAD_DATE DESC
	</select>
	
	<select id="codeCheck" parameterType="string" resultMap="carTypeResultMap">
		 SELECT CAR_NAME,
		 		CLASS_NAME,
				CAR_PRICE,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING(FILE_NUM)
		   JOIN CLASSIFICATION USING(CLASS_CODE)
		<if test="classCode != 'AL'">
		  WHERE CLASS_CODE = #{classCode}
		</if>
	</select>
	
	<insert id="enrollCarTypeFile" parameterType="carType">
	    INSERT INTO CAR_FILE(FILE_NUM, ORIGINAL_NAME, UPLOAD_NAME, UPLOAD_DATE)
	    VALUES (SEQ_FILE_NUM.NEXTVAL, #{originalName}, #{uploadName}, SYSDATE)
	</insert>
	
	<insert id="enrollCarType" parameterType="carType">
	    INSERT INTO CARNAME(CAR_NAME, CLASS_CODE, FILE_NUM, CAR_PRICE)
	    VALUES (#{carName}, #{classCode}, SEQ_FILE_NUM.CURRVAL, #{carPrice})
	</insert>
	
	<insert id="enrollCarTypePart" parameterType="carType">
	    INSERT INTO MANAGEMENT(CAR_NAME, INVEN_CODE)
	  	VALUES (#{carName}, #{invenCode})
	</insert>
	
	<select id="detailView" parameterType="string" resultMap="carTypeResultMap">
		 SELECT CAR_NAME,
		 		CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				INVEN_CODE,
				FILE_NUM
		   FROM CARNAME
		   JOIN CAR_FILE USING(FILE_NUM)
		   JOIN MANAGEMENT USING(CAR_NAME)
		  WHERE CAR_NAME = #{carName}
	</select>
	
	<update id="updateCarTypeFile" parameterType="carType">
		UPDATE CAR_FILE
		   SET ORIGINAL_NAME = #{originalName}, 
			   UPLOAD_NAME = #{uploadName}, 
			   UPLOAD_DATE = SYSDATE
		 WHERE FILE_NUM = #{fileNum}
	</update>
	
	<update id="updateCarType" parameterType="carType">
		UPDATE CARNAME
		   SET CLASS_CODE = #{classCode},
			   CAR_PRICE = #{carPrice}
		 WHERE CAR_NAME = #{carName}
	</update>
	
	<update id="updateCarTypePart" parameterType="carType">
		UPDATE MANAGEMENT
		   SET INVEN_CODE = #{invenCode}
		 WHERE CAR_NAME = #{carName}
	</update>
	
	<delete id="deleteModelPart" parameterType="string">
		DELETE FROM MANAGEMENT
		 WHERE CAR_NAME = #{carName}
	</delete>
	
	<delete id="deleteModel" parameterType="string">
		DELETE FROM CARNAME
		 WHERE CAR_NAME = #{carName}
	</delete>
	
	<delete id="deleteModelFile" parameterType="_int">
		DELETE FROM CAR_FILE
		WHERE FILE_NUM = #{fileNum}
	</delete>
	
	<select id="equipmentListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM INVENTORY
	</select>
	
	<select id="equipmentList" resultMap="InventoryResultMap">
		SELECT INVEN_CODE,
       		   INVEN_NAME,
			   INVEN_PAY,
        	   INVEN_NUM,
        	   ITEM_CODE,
        	   TO_CHAR(INVEN_DATE, 'YYYY-MM-DD') as "INVEN_DATE",
        	   ITEM_NAME
		  FROM INVENTORY
		  JOIN ITEM USING (ITEM_CODE)
		  ORDER BY INVEN_DATE DESC
	</select>
	
	<select id="insertList" resultMap="InventoryResultMap">
		SELECT INVEN_CODE,
       		   INVEN_NAME,
			   INVEN_PAY,
        	   INVEN_NUM,
        	   ITEM_CODE,
        	   TO_CHAR(INVEN_DATE, 'YYYY-MM-DD') as "INVEN_DATE",
        	   ITEM_NAME
		  FROM INVENTORY
		  JOIN ITEM USING (ITEM_CODE)
	</select>
	
	<select id="selectItemCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM INVENTORY
		 WHERE ITEM_CODE = #{itemCode}
	</select>
	
	<select id="selectItem" parameterType="string" resultMap="InventoryResultMap">
		SELECT INVEN_CODE,
       		   INVEN_NAME,
			   INVEN_PAY,
        	   INVEN_NUM,
        	   ITEM_CODE,
        	   TO_CHAR(INVEN_DATE, 'YYYY-MM-DD') as "INVEN_DATE",
        	   ITEM_NAME
		  FROM INVENTORY
		  JOIN ITEM USING (ITEM_CODE)
		 WHERE ITEM_CODE = #{itemCode}
		 ORDER BY INVEN_DATE DESC
	</select>
	
	<insert id="insertInvenType" parameterType="carType">
		INSERT INTO INVENTORY(INVEN_CODE,INVEN_NAME,INVEN_PAY,INVEN_NUM,INVEN_DATE,ITEM_CODE)
	  	VALUES (#{invenCode}, #{invenName}, #{invenPay}, #{invenNum}, SYSDATE, #{itemCode})
	</insert>
	
	<insert id="insertStock" parameterType="stockAndDelovery">
		INSERT INTO STOCK(STOCK_PKNO, INVEN_CODE, STOCK_NUM, STOCK_DATE)
		VALUES (SEQ_STOCK_PKNO.NEXTVAL, #{invenCode}, #{stockNum}, SYSDATE)
	</insert>
	
	<select id="estimateListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM EX_CAR
		 WHERE DEALER_PHONE = #{dealerPhone}
	</select>
	
	<select id="estimateList" parameterType="string" resultMap="exCarResultMap">
		 SELECT EX_NUM,
				CAR_NAME,
				EX_PRICE,
				MEMBER_PHONE,
				TO_CHAR(EX_DATE, 'YYYY-MM-DD') as "EX_DATE"
		   FROM EX_CAR
		  WHERE DEALER_PHONE = #{dealerPhone}
		  ORDER BY EX_DATE DESC
	</select>
	
	<select id="detailEstimate" parameterType="_int" resultMap="exCarResultMap">
		 SELECT EX_NUM,
				CAR_NAME,
				EX_INVEN,
				EX_PRICE,
				MEMBER_PHONE,
				DEALER_PHONE,
				TO_CHAR(EX_DATE, 'YYYY-MM-DD') as "EX_DATE"
		   FROM EX_CAR
		  WHERE EX_NUM = #{exNum}
	</select>
</mapper>