<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<!-- ======================== resultMap ======================== -->
	<!-- =========================================================== -->
	<resultMap type="car" id="carResultMap">
		<result column="CAR_NUM"	  	property="carNum"/>
		<result column="MEM_PHONE"  	property="memPhone"/>
		<result column="CLASS_CODE" 	property="classCode"/>
		<result column="CAR_STATUS" property="carStatus"/>
		<result column="CAR_DATE"  	property="carDate"/>
	</resultMap>
	
	<resultMap type="carType" id="carTypeResultMap">
		<result column="CAR_NAME"	  	property="carName"/>
		<result column="CLASS_CODE"  	property="classCode"/>
		<result column="CLASS_NAME"  	property="className"/>
		<result column="CAR_PRICE" 	property="carPrice"/>
		<result column="FILE_NUM" 	property="fileNum"/>
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="UPLOAD_NAME"  	property="uploadName"/>
		<result column="UPLOAD_DATE"  	property="uploadDate"/>
	</resultMap>
	

	<!-- =========================== SQL =========================== -->
	<!-- =========================================================== -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM CARNAME
	</select>
	
	<select id="classCheck" parameterType="string" resultMap="carTypeResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CLASS_NAME,
				CAR_PRICE,
				FILE_NUM,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				UPLOAD_DATE
		   FROM CARNAME
		   JOIN CAR_FILE USING(FILE_NUM)
		   JOIN CLASSIFICATION USING(CLASS_CODE)
		<if test="classCode != 'AL'">
		  WHERE CLASS_CODE = #{classCode}
		</if>
	</select>
	
	<insert id="enrollCarTypeFile" parameterType="carType">
	    INSERT INTO CAR_FILE(FILE_NUM, ORIGINAL_NAME, UPLOAD_NAME, UPLOAD_DATE)
	    VALUES (SEQ_FILE_NUM.NEXTVAL, #{originalName}, #{uploadName}, SYSDATE)
	</insert>
	
	<insert id="enrollCarType" parameterType="carType">
	    INSERT INTO CARNAME(CAR_NAME, CLASS_CODE, FILE_NUM, CAR_PRICE)
	    VALUES (#{carName}, #{classCode}, SEQ_FILE_NUM.CURRVAL, #{carPrice})
	</insert>
	
	<insert id="enrollCarTypePart" parameterType="carType">
	    INSERT INTO MANAGEMENT(CAR_NAME, INVEN_CODE)
	  	VALUES (#{carName}, #{invenCode})
	</insert>
	
	
	
</mapper>