<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carMapper">
	<!-- ======================== resultMap ======================== -->
	<!-- =========================================================== -->
	<resultMap type="carModel" id="carResultMap">
		<result column="CAR_NAME"	  	property="carName"/>
		<result column="CLASS_CODE"	  	property="classCode"/>
		<result column="FILE_NUM"	  	property="fileNum"/>
		<result column="CAR_PRICE"	  	property="carPrice"/>
		<result column="ORIGINAL_NAME"	property="originalName"/>
		<result column="UPLOAD_NAME"	property="uploadName"/>
		<result column="UPLOAD_DATE"	property="uploadDate"/>
	</resultMap>
	
	<resultMap type="makeCar" id="makeCarResultMap">
		<result column="CAR_NAME"	  	property="carName"/>
		<result column="CLASS_CODE"	  	property="classCode"/>
		<result column="CAR_PRICE"	  	property="carPrice"/>
		<result column="INVEN_CODE"	  	property="invenCode"/>
	</resultMap>
	
	<resultMap type="inven" id="invenResultMap">
		<result column="INVEN_CODE"	  		property="invenCode"/>
		<result column="INVEN_NAME"	  		property="invenName"/>
		<result column="INVEN_PAY"	  		property="invenPay"/>
		<result column="INVEN_NUM"	  		property="invenNum"/>
		<result column="INVEN_DATE"	  		property="invenDate"/>
		<result column="ITEM_CODE"	  		property="itemCode"/>
		<result column="INVEN_PLUS_PAY"	  	property="invenPlusPay"/>
	</resultMap>
	
	<resultMap type="dealer" id="dealerResultMap">
		<result column="MEM_PHONE"		property="dealerPhone"/>
		<result column="MEM_EMAIL"	  	property="memEmail"/>
		<result column="MEM_NAME"	  	property="memName"/>
		<result column="MEM_ROLE"	  	property="memRole"/>
	</resultMap>
	
	<resultMap type="wantCar" id="wantCarResultMap">
		<result column="EX_NUM"			property="exNum"/>
		<result column="CAR_NAME"		property="carName"/>
		<result column="EX_INVEN"		property="exInven"/>
		<result column="EX_PRICE"		property="exPrice"/>
		<result column="MEMBER_PHONE"	property="memberPhone"/>
		<result column="DEALER_PHONE"	property="dealerPhone"/>
		<result column="EX_DATE"		property="exDate"/>
	</resultMap>
	
	<resultMap type="carPart" id="carPartResultMap">
		<result column="CAR_NAME"		property="carName"/>
		<result column="MYCAR_PHONE"	property="mycarPhone"/>
		<result column="MEM_NAME"	property="memName"/>
		<result column="MYCAR_DEALER"	property="mycarDealer"/>
		<result column="MYCAR_PRICE"	property="mycarPrice"/>
		<result column="MYCAR_DATE"		property="mycarDate"/>
		<result column="MYCAR_NUM"		property="mycarNum"/>
		<result column="INVEN_CODE"		property="invenCode"/>
		<result column="CAR_NUM"		property="carNum"/>
		<result column="CAR_STATUS"		property="carStatus"/>
		<result column="CAR_DATE"		property="carDate"/>
	</resultMap>
	
	<!-- =========================== SQL =========================== -->
	<!-- =========================================================== -->
	
	<select id="modelAll" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
	</select>
	
	<select id="modelSedan" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CLASS_CODE = 'SD'
	</select>
	
	<select id="modelSuv" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CLASS_CODE = 'SV'
	</select>
	
	<select id="modelEv" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CLASS_CODE = 'EV'
	</select>
	
	<select id="carOption" parameterType="string" resultMap="makeCarResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				INVEN_CODE
		   FROM CARNAME
		   JOIN MANAGEMENT USING(CAR_NAME)
		   WHERE CAR_NAME = #{carName}
	</select>
	
	<select id="invenCodesList" resultMap="invenResultMap">
		 SELECT INVEN_CODE,
				INVEN_NAME,
				ITEM_CODE,
				INVEN_PLUS_PAY
		   FROM INVENTORY
	</select>
	
	<select id="checkEnginePay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{engine}
	</select>
	
	<select id="checkDrivePay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_NAME= #{drive}
	</select>
	
	<select id="checkColorPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{color}
	</select>
	
	<select id="checkWheelPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{wheel}
	</select>
	
	<select id="checkInnerPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{inner}
	</select>
	
	<select id="checkOptionPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{option}
	</select>
	
	<select id="checkDealer" resultMap="dealerResultMap">
		 SELECT MEM_PHONE,
				MEM_EMAIL,
				MEM_NAME 
		   FROM MEMBER
		  WHERE MEM_ROLE = 'D'
	</select>
	
	<insert id="wantCar" parameterType="member">
		INSERT INTO EX_CAR(EX_NUM,CAR_NAME,EX_INVEN,EX_PRICE,MEMBER_PHONE,DEALER_PHONE, EX_DATE)
		VALUES (SEQ_EX_NUM.NEXTVAL,#{carName},#{exInven},#{exPrice},#{memberPhone},#{dealerPhone}, SYSDATE)
	</insert>
	
	<select id="selectCar" parameterType="string" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CAR_PRICE,
				UPLOAD_NAME
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CAR_NAME = #{carName}
	</select>
	
	<insert id="mycar" parameterType="carPart">
		INSERT INTO MYCAR(MYCAR_NUM,CAR_NAME,MYCAR_PHONE,MYCAR_DEALER,MYCAR_PRICE,MYCAR_DATE)
		VALUES(SEQ_MYCAR_NUM.NEXTVAL, #{carName}, #{mycarPhone}, #{mycarDealer}, #{mycarPrice}, SYSDATE)
	</insert>
	
	<insert id="mypart" parameterType="string">
		INSERT INTO MYPART(MYCAR_NUM,INVEN_CODE)
		VALUES(SEQ_MYCAR_NUM.CURRVAL, #{invenCode})
	</insert>
	
	<insert id="insertCar" parameterType="string">
		INSERT INTO CAR(CAR_NUM,MYCAR_NUM,CAR_STATUS,CAR_DATE)
		VALUES(#{carNum}, SEQ_MYCAR_NUM.CURRVAL, 'R', SYSDATE)
	</insert>
	
	<select id="carPartListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM MYCAR
		  JOIN CAR USING(MYCAR_NUM)
		  JOIN MYPART USING(MYCAR_NUM)
		 WHERE MYCAR_DEALER = #{mycarDealer}
	</select>
	
	<select id="carPartList" parameterType="string" resultMap="carPartResultMap">
		 SELECT MYCAR.MYCAR_NUM,
		        MYCAR.CAR_NAME,
		        MYCAR.MYCAR_PHONE,
		        MEMBER.MEM_NAME,
		        MYCAR.MYCAR_DEALER,
		        MYCAR.MYCAR_PRICE,
		        TO_CHAR(MYCAR.MYCAR_DATE, 'YYYY-MM-DD') as "MYCAR_DATE",
		        CAR.CAR_NUM,
		        CAR.CAR_STATUS,
		        TO_CHAR(CAR.CAR_DATE, 'YYYY-MM-DD') as "CAR_DATE",
		        MYPART.INVEN_CODE
		   FROM MYCAR
		   JOIN CAR ON(MYCAR.MYCAR_NUM = CAR.MYCAR_NUM)
		   JOIN MYPART ON(MYCAR.MYCAR_NUM = MYPART.MYCAR_NUM)
		   JOIN MEMBER ON(MYCAR_PHONE = MEM_PHONE)
		  WHERE MYCAR_DEALER = #{mycarDealer}
	</select>
	
	<select id="adminCarPartListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM MYCAR
		  JOIN CAR USING(MYCAR_NUM)
		  JOIN MYPART USING(MYCAR_NUM)
	</select>
	
	<select id="adminCarPartList" resultMap="carPartResultMap">
		SELECT MYCAR.MYCAR_NUM,
			   MYCAR.CAR_NAME,
			   DEALER.MEM_NAME,
			   MYCAR.MYCAR_DEALER,
			   MYCAR.MYCAR_PRICE,
			   TO_CHAR(MYCAR.MYCAR_DATE, 'YYYY-MM-DD') AS "MYCAR_DATE",
			   CAR.CAR_NUM,
			   CAR.CAR_STATUS,
			   TO_CHAR(CAR.CAR_DATE, 'YYYY-MM-DD') AS "CAR_DATE",
			   MYPART.INVEN_CODE
		  FROM MYCAR
		  JOIN CAR ON (MYCAR.MYCAR_NUM = CAR.MYCAR_NUM)
		  JOIN MYPART ON (MYCAR.MYCAR_NUM = MYPART.MYCAR_NUM)
		  JOIN MEMBER DEALER ON (MYCAR.MYCAR_DEALER = DEALER.MEM_PHONE)
		 WHERE DEALER.MEM_ROLE = 'D'
	</select>
	
	<insert id="insertEngineGroup" parameterType="string">
		INSERT INTO DELOVERY(DELOVERY_PKNO,INVEN_CODE,DELOVERY_NUM,DELOVERY_DATE)
        VALUES(SEQ_DELOVERY_PKNO.NEXTVAL, #{engineGroup}, 1, SYSDATE)
	</insert>
	
	<insert id="insertDriveGroup" parameterType="string">
		INSERT INTO DELOVERY(DELOVERY_PKNO,INVEN_CODE,DELOVERY_NUM,DELOVERY_DATE)
        VALUES(SEQ_DELOVERY_PKNO.NEXTVAL, #{driveGroup}, 1, SYSDATE)
	</insert>
	
	<insert id="insertColorGroup" parameterType="string">
		INSERT INTO DELOVERY(DELOVERY_PKNO,INVEN_CODE,DELOVERY_NUM,DELOVERY_DATE)
        VALUES(SEQ_DELOVERY_PKNO.NEXTVAL, #{colorGroup}, 1, SYSDATE)
	</insert>
	
	<insert id="insertWheelGroup" parameterType="string">
		INSERT INTO DELOVERY(DELOVERY_PKNO,INVEN_CODE,DELOVERY_NUM,DELOVERY_DATE)
        VALUES(SEQ_DELOVERY_PKNO.NEXTVAL, #{wheelGroup}, 1, SYSDATE)
	</insert>
	
	<insert id="insertInnerGroup" parameterType="string">
		INSERT INTO DELOVERY(DELOVERY_PKNO,INVEN_CODE,DELOVERY_NUM,DELOVERY_DATE)
        VALUES(SEQ_DELOVERY_PKNO.NEXTVAL, #{innerGroup}, 1, SYSDATE)
	</insert>
	
	<insert id="insertCheckBoxGroup" parameterType="string">
	        INSERT INTO DELOVERY(DELOVERY_PKNO, INVEN_CODE, DELOVERY_NUM, DELOVERY_DATE)
	        VALUES (SEQ_DELOVERY_PKNO.NEXTVAL, #{checkBoxes}, 1, SYSDATE)
	</insert>

	<update id="updateCarStatus"  parameterType="_int">
		UPDATE CAR
		   SET CAR_STATUS = 'A'
		 WHERE MYCAR_NUM = #{mycarNum}
	</update>
	
</mapper>