<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carMapper">
	<!-- ======================== resultMap ======================== -->
	<!-- =========================================================== -->
	<resultMap type="carModel" id="carResultMap">
		<result column="CAR_NAME"	  	property="carName"/>
		<result column="CLASS_CODE"	  	property="classCode"/>
		<result column="FILE_NUM"	  	property="fileNum"/>
		<result column="CAR_PRICE"	  	property="carPrice"/>
		<result column="ORIGINAL_NAME"	property="originalName"/>
		<result column="UPLOAD_NAME"	property="uploadName"/>
		<result column="UPLOAD_DATE"	property="uploadDate"/>
	</resultMap>
	
	<resultMap type="makeCar" id="makeCarResultMap">
		<result column="CAR_NAME"	  	property="carName"/>
		<result column="CLASS_CODE"	  	property="classCode"/>
		<result column="CAR_PRICE"	  	property="carPrice"/>
		<result column="INVEN_CODE"	  	property="invenCode"/>
	</resultMap>
	
	<resultMap type="inven" id="invenResultMap">
		<result column="INVEN_CODE"	  		property="invenCode"/>
		<result column="INVEN_NAME"	  		property="invenName"/>
		<result column="INVEN_PAY"	  		property="invenPay"/>
		<result column="INVEN_NUM"	  		property="invenNum"/>
		<result column="INVEN_DATE"	  		property="invenDate"/>
		<result column="ITEM_CODE"	  		property="itemCode"/>
		<result column="INVEN_PLUS_PAY"	  	property="invenPlusPay"/>
	</resultMap>
	
	<resultMap type="dealer" id="dealerResultMap">
		<result column="MEM_PHONE"		property="dealerPhone"/>
		<result column="MEM_EMAIL"	  	property="memEmail"/>
		<result column="MEM_NAME"	  	property="memName"/>
		<result column="MEM_ROLE"	  	property="memRole"/>
	</resultMap>
	
	<resultMap type="wantCar" id="wantCarResultMap">
		<result column="EX_NUM"				property="exNum"/>
		<result column="CAR_NAME"			property="carName"/>
		<result column="EX_INVEN"			property="exInven"/>
		<result column="EX_PRICE"			property="exPrice"/>
		<result column="MEMBER_PHONE"		property="memberPhone"/>
		<result column="DEALER_PHONE"		property="dealerPhone"/>
		<result column="EX_DATE"		property="exDate"/>
	</resultMap>
	
	<!-- =========================== SQL =========================== -->
	<!-- =========================================================== -->
	
	<select id="modelAll" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
	</select>
	
	<select id="modelSedan" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CLASS_CODE = 'SD'
	</select>
	
	<select id="modelSuv" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CLASS_CODE = 'SV'
	</select>
	
	<select id="modelEv" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				ORIGINAL_NAME,
				UPLOAD_NAME,
				TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') as "UPLOAD_DATE"
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CLASS_CODE = 'EV'
	</select>
	
	<select id="carOption" parameterType="string" resultMap="makeCarResultMap">
		 SELECT CAR_NAME,
				CLASS_CODE,
				CAR_PRICE,
				INVEN_CODE
		   FROM CARNAME
		   JOIN MANAGEMENT USING(CAR_NAME)
		   WHERE CAR_NAME = #{carName}
	</select>
	
	<select id="invenCodesList" resultMap="invenResultMap">
		 SELECT INVEN_CODE,
				INVEN_NAME,
				ITEM_CODE,
				INVEN_PLUS_PAY
		   FROM INVENTORY
	</select>
	
	<select id="checkEnginePay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{engine}
	</select>
	
	<select id="checkDrivePay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_NAME= #{drive}
	</select>
	
	<select id="checkColorPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{color}
	</select>
	
	<select id="checkWheelPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{wheel}
	</select>
	
	<select id="checkInnerPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{inner}
	</select>
	
	<select id="checkOptionPay" parameterType="string" resultType="string">
		SELECT INVEN_PLUS_PAY
		  FROM INVENTORY
		 WHERE INVEN_CODE = #{option}
	</select>
	
	<select id="checkDealer" resultMap="dealerResultMap">
		 SELECT MEM_PHONE,
				MEM_EMAIL,
				MEM_NAME 
		   FROM MEMBER
		  WHERE MEM_ROLE = 'D'
	</select>
	
	<insert id="wantCar" parameterType="member">
		INSERT INTO EX_CAR(EX_NUM,CAR_NAME,EX_INVEN,EX_PRICE,MEMBER_PHONE,DEALER_PHONE, EX_DATE)
		VALUES (SEQ_EX_NUM.NEXTVAL,#{carName},#{exInven},#{exPrice},#{memberPhone},#{dealerPhone}, SYSDATE)
	</insert>
	
	<select id="selectCar" parameterType="string" resultMap="carResultMap">
		 SELECT CAR_NAME,
				CAR_PRICE,
				UPLOAD_NAME
		   FROM CARNAME
		   JOIN CAR_FILE USING (FILE_NUM)
		  WHERE CAR_NAME = #{carName}
	</select>
</mapper>