<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- ======================== resultMap ======================== -->
	<!-- =========================================================== -->
	<resultMap type="member" id="memberResultMap">
		<result column="MEM_PHONE"	  	property="memPhone"/>
		<result column="MEM_EMAIL"  	property="memEmail"/>
		<result column="MEM_NAME" 	property="memName"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="MEM_ROLE"  	property="memRole"/>
	</resultMap>
	

	<!-- =========================== SQL =========================== -->
	<!-- =========================================================== -->
	<select id="memEmail" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE MEM_EMAIL = #{memEmail}
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (MEM_PHONE,MEM_EMAIL,MEM_NAME,MEM_PWD,MEM_ROLE)
		VALUES(#{memPhone}, #{memEmail}, #{memName}, #{memPwd}, 'U')
	</insert>
	
	<select id="loginMember" parameterType="member" resultMap="memberResultMap">
		 SELECT MEM_PHONE,
				MEM_EMAIL,
				MEM_NAME,
				MEM_PWD,
				MEM_ROLE
		   FROM MEMBER
		  WHERE MEM_EMAIL = #{memEmail}
	</select>
	
	<insert id="insertAdmin" parameterType="member">
		INSERT INTO MEMBER (MEM_PHONE,MEM_EMAIL,MEM_NAME,MEM_PWD,MEM_ROLE)
		VALUES(#{memPhone}, #{memEmail}, #{memName}, #{memPwd}, #{memRole})
	</insert>
</mapper>